{% extends 'base.html' %}

{% block content %}
<h2>{{ link.title }}</h2>

<div class="table-container">
    
    <table style="padding: 20px; border-width: 5px; border-style: solid; border-color: black;">
        <!--<tr>
            <td><strong>Title:</strong></td>
            <td>{{ link.title }}</td> 
        </tr>-->
        <tr>
            <td><strong>Magnet Link:</strong></td>
            <td><a href="{{ magnetlink }}">{{ magnetlink }}</a></td>  
        </tr>
        <tr>
            <td><strong>File name:</strong></td>
            <td class="description-cell">{{ link.filename }}</td>
        </tr>
        <tr>
        <td><strong>File size:</strong></td>
            <td>{{ link.human_readable_size }}</td>
        </tr>      
        <tr>
            <td><strong>Hash:</strong></td>
            <td>{{ hashfile }}</td> 
        </tr>
        <tr>
            <td><strong>Description:</strong></td>
            <td class="description-cell">{{ link.description }}</td>
        </tr>
        <tr>
            <td><strong>Category:</strong></td>
            <td class="description-cell">{{ link.category }}</td>
        </tr>
        {% if link.imagelink %}
        <tr>
            <td><strong>Image:</strong></td>
            <td>
                <p><img width="400px" src="{{ link.imagelink }}" alt="{{ link.title }}" style="max-width: 100%; height: auto;"></p>
            </td>
        </tr>
        {% endif %}
    </table>
    <a href="{% url 'home' %}">Back</a>
    <br><br>
</div>
{% endblock content %}

